<h3>Eding Book</h3>
<%= form_with model: @book do |f| %>
  <div>Title</div>
    <%= f.text_field :title %>
  <div>Body</div>
    <%= f.text_area :body %>

  <div><%= f.submit 'Update Book' %></div>
<% end %>

<div>
  <%= link_to 'Show', book_path(@book) %>
  <span><%= link_to 'Back', books_path %></span>
</div>
