<h2>Books</h2>

<table>

  <thead>
    <th>Title</th>
    <th>Body</th>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<h3>New Book</h3>
<%= form_with model: @book, url: books_path do |f| %>
  <div>Title</div>
    <%= f.text_field :title %>
  <div>Body</div>
    <%= f.text_area :body %>

  <div><%= f.submit 'Create Book' %></div>
<% end %>